<!-- user_detail.html -->

<!DOCTYPE html>
<html>
<head>
    <title>User Detail</title>
</head>
<body>
    <h1>User Detail</h1>
    <ul>
        <li>First Name: {{ user.first_name }}</li>
        <li>Last Name: {{ user.last_name }}</li>
        <li>Position: {{ user.position }}</li>
        <li>Hire Date: {{ user.hire_date }}</li>
        <li>Salary: {{ user.salary }}</li>
        <!-- Add more user details here -->
    </ul>
    <a href="{% url 'department_tree' %}">Back to Department Tree</a>
</body>
</html>